@import "../../index.scss";
.agencyForm {
  flex: 4;
  display: flex;
  justify-content: center;

  &__form {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    min-width: 200px;
  }
  &__form-item {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
  }
  &__form-item > label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    color: $soft-text-color;
  }
  &__form-item > input {
    height: 20px;
    padding: 10px;
    border: 1px solid $soft-text-color;
    border-radius: 5px;
  }
  .agencyForm__form-button {
    width: 500px;
    border: none;
    background-color: $background-nav-color;
    color: $secundary-text;
    padding: 15px 10px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    display: inline-block;
  }
}
