.agencyForm {
  flex: 4;

  &__form {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
  }
  &__form-item {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
  }
  &__form-item > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: gray;
  }
  &__form-item > input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  .agencyForm__form-button {
    width: 400px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    display: inline-block;
    /* flex-wrap: wrap; */
  }
}
