@import "../../index.scss";

.navbar {
  background: $secundary-text;
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  border-bottom: 1px solid lightgray;

  .navbar__left a {
    margin-right: 30px;
    text-decoration: none;
    color: $soft-text-color;
    font-size: 18px;
    font-weight: 700;
  }
  .navbar__left .active_link {
    color: $nav-hover-color;
    border-bottom: 3px solid $nav-hover-color;
    padding-bottom: 12px;
  }
  .navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar__right-icon {
      color: $soft-text-color;
      font-size: 16px;
      border-radius: 50px;
      background: $secundary-text;
      box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
      padding: 7px;
    }
  }

  .navbar__right a {
    margin-left: 20px;
    text-decoration: none;
  }
}

.navbar__icon {
  display: none;

  .navbar__icon-bars {
    font-size: 26px;
    color: $soft-text-color;
  }
}

@media only screen and (max-width: 705px) {
  .navbar__icon {
    display: inline;
  }
  .navbar__left {
    display: none;
  }
}
